
*{
  font-family: 'Red Hat Text', sans serif;
}

header{
	margin-bottom: 8px;
}

.custom_toggler .navbar-toggler-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(9,55,244, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.daftar{
  font-size: 17px;
}
@media(min-width: 1000px){
  .nama_brand{
  font-size: 18px;
	vertical-align: middle;
  }
}

.logo {
	vertical-align: middle;
}

.jargon{
	margin: 0 auto;
	display: block;
	vertical-align: middle;
}
.section_title_container
{
	max-width: 600px;
	margin: 0 auto;
}
.section_title_container img{
  width: 150px;
}
.vmst_{
  width: 100%;
}
.vmst_tujuan{
  background-color: #303944;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-bottom: 25px;
}
.section_title_tujuan{
  background-color: white;
  margin-left: 20%;
  margin-right:20%;
  border-radius: 7px;
  padding: 5px 15px;
  width:fit-content;
}

.section_subtitle_tujuan{
  margin-top: 25px;
  color: white;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-bottom: 25px;
  
}

p > b{
  font-size: 20px;
}

.vmst_visi-misi{
	background-position:0%;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-bottom: 25px;
	background-color: #C4C4C4;
}


.section_title_visi{
  background-color: white;
  padding: 5px 15px;
  margin-left: 50%;
  margin-right:50%;
  width:fit-content;
  border-radius: 7px;
}

.section_title_misi{
  background-color: white;
  width: fit-content;
  margin-left: 50%;
  margin-right:50%;
  padding: 5px 15px;
  width:fit-content;
  border-radius: 7px;
}

.card_set{
	background-color: transparent;
	border: none;
}
img.ket_referen{
	width: 100px;
	margin: 0 auto;
	align-items: center;
	border: none;
}
.referen_school{
	padding-top: 6%;
	background-color:#303944;
	margin-bottom: 28px;
}

h5.judul{
	color: #FBF446;
	font-size: 65px;
}

p.desk{
	color: #E5E5E5;
	font-size: 40px;
}

.data_guru{
	width:300px;
  height:650px;
  margin:0 auto;
	margin-bottom: 90;
}

.tombol{
	margin-top: 28px;
}

.btn_jml_guru{
	background-color: #FBF446;
	border: 1px solid black;
}

.btn_jml_guru:hover{
	background-color: rgb(0, 0, 0);
	color: #FBF446;
	border: 1px solid #FBF446;
}

footer{
	margin-top: 90px;
}

/* Halaman Daftar Guru Style*/
.section_title_guru{
  font-family: 'Red Hat Text', sans-serif;
  margin-top: 68px;
  margin-bottom: 58px;
}
.guru_image
{
  width: 160px;
  height: 140px;
}

.guru_col .guru_item
	{
		padding-left: 0px;
		padding-right: 0px;
	}
	.guru_col:first-child .guru_item
	{
		padding-left: 0;
		padding-right: 0px;
	}
	.guru_col:nth-child(4n) .guru_item
	{
		padding-left: 0px;
		padding-right: 0;
	}
	.guru_col:nth-child(odd) .guru_item
	{
		padding-right: 6px;
	}
	.guru_col:nth-child(even) .guru_item
	{
		padding-left: 6px;
	}

  .guru
{
	width: 100%;
	padding-top: 93px;
	padding-bottom: 60px;
	background: #FFFFFF;
}
.guru_row
{
	margin-top: 43px;
}
.guru_col
{
	margin-bottom: 40px;
}
.guru_item
{
	width: 100%;
	margin: 0 auto;
}
.guru_image
{
	width: 180px;
	height: 160px;
	border-radius: 6px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -86px;
	z-index: 5;
}
.guru_image img
{
  border-radius: 10px;
	max-width: 100%;
}
.guru_body
{
  border-radius: 10px;
	width: 100%;
	padding-top: 108px;
	padding-bottom: 24px;
	background: #FFFFFF;
	border-radius: 6px;
	box-shadow: 0px 1px 10px rgba(29,34,47,0.1);
	text-align: center;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.guru_item:hover .guru_body
{
	box-shadow: 0px 5px 40px rgba(29,34,47,0.15);
}
.guru_title a
{
	font-family: 'Red Hat Text', serif;
	font-size: 20px;
	font-weight: 700;
	color: #384158;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.guru_title a:hover
{
	color: #14bdee;
}
.guru_subtitle
{
	font-size: 14px;
	font-weight: 400;
	color: #76777a;
	margin-top: 6px;
}

.guru_col .guru_item
{
	padding-left: 6px;
	padding-right: 6px;
}
.guru_col:first-child .guru_item
{
	padding-left: 0;
	padding-right: 6px;
}
.guru_col:nth-child(4n) .guru_item
{
	padding-left: 6px;
	padding-right: 0;
}

/*============================================================
                     Halaman info sekolah
============================================================*/

.info_sekolah{
	font-family: 'Red Hat Text', sans-serif;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	height:auto
}

/*============================================================
                     Halaman gallery
============================================================*/
.lgbox > .lgbox_konten {
  padding: 0 8px;
}

.lgbox:after {
  content: "";
  display: table;
  clear: both;

}

/*********************************
7. Contact
*********************************/

.contact
{
  font-family: 'Red Hat Text';
	width: 100%;
	padding-bottom: 100px;
}

/*==============================================================
                           blog
============================================================== */

.section_berita{
box-sizing: border-box;
position: relative;

}
.blog
{
	width: 100%;
	background: #FFFFFF;
	padding-top: 100px;
	padding-bottom: 100px;
}
.blog_post_container
{
	width: 100%;
}
.blog_post
{
	width: calc((100% - 60px) / 3);
	border-radius: 6px;
	overflow: hidden;
	box-shadow: 0px 1px 10px rgba(29,34,47,0.1);
	margin-bottom: 30px;
}
.blog_post:hover
{
	box-shadow: 0px 5px 40px rgba(29,34,47,0.15);
}
.blog_post_image
{
	width: 100%;
}
.blog_post_image img
{
	max-width: 100%;
}
.blog_post_video_container
{
	width: 100%;
}
.video-js
{
	width: 100%;
}
.video-js .vjs-big-play-button
{

}
.vjs-control-bar
{
	display: -webkit-box !important;
	display: -moz-box !important;
	display: -ms-flexbox !important;
	display: -webkit-flex !important;
	display: flex !important;
}
.blog_post_body
{
	padding-left: 32px;
	padding-right: 30px;
	padding-top: 23px;
	padding-bottom: 23px;
}
.blog_post_title a
{
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
	line-height: 1.4;
	font-weight: 700;
	color: #384158;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.blog_post_title a:hover
{
	color: #14bdee;
}
.blog_post_meta
{
	margin-top: 11px;
}
.blog_post_meta ul li
{
	display: inline-block;
	position: relative;
}
.blog_post_meta ul li:not(:last-of-type)::after
{
	display: inline-block;
	position: relative;
	content: '|';
	margin-left: 14px;
	margin-right: 11px;
}
.blog_post_meta ul li a
{
	font-size: 14px;
	font-weight: 400;
	color: #b5b8be;
	text-transform: uppercase;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.blog_post_meta ul li a:hover
{
	color: #14bdee;
}
.blog_post_text
{
	margin-top: 12px;
}
.blog_post_text p
{
	font-size: 14px;
	font-weight: 400;
	color: #76777a;
	line-height: 2;
}
.load_more
{
	width: 150px;
	height: 46px;
	border-radius: 3px;
	background: #14bdee;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}
.load_more:hover
{
	box-shadow: 0px 5px 40px rgba(0,0,0,0.15);
}
.load_more a
{
	display: block;
	line-height: 46px;
	font-size: 14px;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: 500;
}

/* home 2 */
